@page
@model Gavin_Ostheimer_Book_App.Pages.SaleCompletedModel
@{
}

<div class="text-center">
    <h2>Thanks! Your order has been completed!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>