<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Gavin's Book Store</span>
    </div>
    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            <vc:types></vc:types>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <br/>
    <br/>
</body>

<footer style="background-color: #333; padding: 20px; color: white; text-align: center;">
    <h1 style="color: red; font-size: 36px; font-family: Arial, sans-serif;">The Hunt for Red October Movie</h1>

    <div style="margin-top: 20px;">
        <p style="font-size: 20px;">Click play to listen to a famous audio clip from the movie:</p>
        <audio controls="controls" style="margin-top: 10px;">
            <source src="~/audio/revolution.mp3" type="audio/mpeg" />
        </audio>
    </div>

    <div style="margin-top: 40px;">
        <p style="font-size: 20px;">Click play below to see an advertisement for the movie:</p>
        <video controls="controls" style="margin-top: 10px; max-width: 100%;">
            <source src="~/video/1884.mp4" type="video/mp4" />
        </video>
    </div>
</footer>

</html>
